<!DOCTYPE html>


{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block body %}
<body  background="{% static 'img/p2.jpg' %}" width="100%";>

  <div class="card">
    <div id="card-content">
      <div id="card-title">
        <h2>REGISTER</h2>

      </div>
      <form method="POST" action="{% url 'login' %}" enctype="multipart/form-data">
       {% csrf_token %}

        <input type="text" class="form-content" name="name" autocomplete="on" placeholder="Enter User Name" required />
        <div class="form-border"></div>

        <input id="user-password" class="form-content" type="password" name="password"placeholder="Enter Password" required />
<div class="form-border"></div>
        <input id="confirm-password" class="form-content" type="password" name="password" placeholder="Confirm Password" required />
        <div class="form-border"></div>


          <input id="submit-btn" type="submit" name="submit" value="Submit" /><br>
        </div>
      </form>

        {% endblock %}